<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="ion-padding">
  <ion-button expand="block" (click)="cargar()">Buscar impresoras</ion-button>

  <ion-list>
    <ion-item *ngFor="let d of dispositivos" button (click)="conectar(d)">
      <ion-label><h2>{{ d.name }}</h2><p>{{ d.address }}</p></ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="success"
              [disabled]="!printer.isConnected()" (click)="prueba()">
    Imprimir prueba
  </ion-button>
  
  <!--<app-explore-container name="Tab 1 page"></app-explore-container>
-->
</ion-content>